    [submodule "modules/Mekanism"]
	path = modules/Mekanism
	url = https://github.com/mekanism/Mekanism.git
[submodule "modules/Applied-Energistics-2"]
	path = modules/Applied-Energistics-2
	url = https://github.com/AppliedEnergistics/Applied-Energistics-2.git
[submodule "modules/Create"]
	path = modules/Create
	url = https://github.com/Creators-of-Create/Create.git
[submodule "modules/RoughlyEnoughItems"]
	path = modules/RoughlyEnoughItems
	url = https://github.com/shedaniel/RoughlyEnoughItems.git
[submodule "modules/Registrate-Refabricated"]
	path = modules/Registrate-Refabricated
	url = https://github.com/Fabricators-of-Create/Registrate-Refabricated.git
[submodule "modules/Registrate"]
	path = modules/Registrate
	url = https://github.com/tterrag1098/Registrate.git
[submodule "modules/ProjectE"]
	path = modules/ProjectE
	url = https://github.com/sinkillerj/ProjectE.git
[submodule "modules/Botania"]
	path = modules/Botania
	url = https://github.com/VazkiiMods/Botania.git
[submodule "modules/geckolib"]
	path = modules/geckolib
	url = https://github.com/bernie-g/geckolib.git
[submodule "core"]
	path = core
	url = https://github.com/Karasu-Lab/KarasuCore.git
